<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array Printing</title>
</head>
<body>
<table>
    <tr>
        <th>类别</th>
        <th>课程名称</th>
        <th>观看人数</th>
        <th>是否免费</th>
        <th>视频节数</th>
    </tr>
    {% for row in my_array %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
