<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="76ac1a0237de4ceaa15748f6f379fc92" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_76ac1a0237de4ceaa15748f6f379fc92 = echarts.init(
            document.getElementById('76ac1a0237de4ceaa15748f6f379fc92'), 'white', {renderer: 'canvas'});
        var option_76ac1a0237de4ceaa15748f6f379fc92 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u603b\u6d4f\u89c8\u91cf",
            "legendHoverLink": true,
            "data": [
                513222,
                119418,
                27779,
                504521,
                35438,
                274315,
                211906,
                104439,
                59522,
                35618,
                301626,
                6390,
                325461,
                152009,
                395290
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "50%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u603b\u6d4f\u89c8\u91cf"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -25,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Java\u5f00\u53d1",
                "Python",
                "\u4e92\u8054\u7f51\u4ea7\u54c1",
                "\u4e92\u8054\u7f51\u8fd0\u8425",
                "\u524d\u6cbf\u6280\u672f",
                "\u524d\u7aef\u5f00\u53d1",
                "\u540e\u53f0\u5f00\u53d1",
                "\u5927\u6570\u636e\u4e0eAI",
                "\u6e38\u620f\u5f00\u53d1",
                "\u786c\u4ef6\u5f00\u53d1",
                "\u79fb\u52a8\u5f00\u53d1",
                "\u8ba1\u7b97\u673a\u901a\u8bc6\u8bfe",
                "\u8ba4\u8bc1\u8003\u8bd5",
                "\u8f6f\u4ef6\u6d4b\u8bd5",
                "\u8fd0\u7ef4"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e0d\u540c\u79d1\u76ee\u6d4f\u89c8\u91cf",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_76ac1a0237de4ceaa15748f6f379fc92.setOption(option_76ac1a0237de4ceaa15748f6f379fc92);
    </script>
</body>
</html>
